/* ---------------------- */
/* Reset                  */
/* ---------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */ /* Makes calculating the width and height of things much easier. */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	background: lightgray;
	margin: 0;
}